<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .box1{
            width: 100px;
            height: 100px;
            background-color: red;
            border-color: royalblue;
            border-width: 10px;
            border-style: ridge;
        }
        .box2{
            width: 50px;
            height: 50px;
            background-color: salmon;
            border-color: springgreen;
            border-width: 10px;
            border-style: solid;
        }
    </style>
</head>
<body>
    <div class="box1">这是啥？这是一个盒子好兄弟，记住，盒子要这样子搞，很重要的</div>
    <div class="box2">第二个小盒子</div>
</body>
</html>