<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .box1{
            width: 100px;
            height:100px;
            background-color: yellow;
            border-top: red 5px solid;
            border-left: solid 5px blue;
            border-bottom:solid 5px green;
            border-right: solid;
        }
    </style>
</head>
<body>
    <div class="box1">这是一个四边边框颜色都不一样的一盒子</div>
</body>
</html>