<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .box1{
            width:800px;
            height: 200px;
            /* background-color:cyan; */
            border: 10px rgb(141,238,233) solid;
        }
        .inner{
            height: 100px;
            width: 200px;
            border: 5px red solid;
            /* margin: 0 auto; */
            margin-left: auto;
            margin-right: auto;
            background-color:rgb(226,146,232);
        }
    </style>
</head>
<body>
    <div class="box1">
        <div class="inner" style="font-size: 60px;">
            居中了
        </div>
    </div>
</body>
</html>